<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/error404.css">
    <link rel="stylesheet" href="css/shared.css" />
    <title>SWA • Error Not Found</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="/">
                  <img class="logo" src="/img/Logo.png" alt="Secure Web App">
                </a>
              </div>
        </header>
        <main>
            <img class="image" src="img/wp_404_1.png" alt="Error Not Found" >
            <h4>Page you are looking for doesn't exist.</h4>
            <h4>Please return to the <a href="/">home page</a>.</h4>
        </main>
    </div>
</body>
</html>